.load-wrapp{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    padding: 0 10px;
    margin-bottom: 40px;
}
.title h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;

}
@media (max-width:1199px) {
    .title{
        margin-bottom: 20px;
    }
    .title h1 {
        font-size: 28px;
    }
}